<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap Site</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container">
    <div class="card">
      <!-- Card Header with Title -->
      <div class="card-header">
        <h1>Sinh Viên</h1>
      </div>
  
      <!-- Image Section (with Angular binding for image source) -->
      <img src="https://picsum.photos/200 " alt="" style="width: 20%; height: 20%;" class="justify-content-center">
      <!-- Card Body -->
      <div class="card-body">
        <ul class="list-group">
          <li class="list-group-item">
            <strong>Tên:</strong> {{students.name}}
          </li>
          <li class="list-group-item">
            <strong>Tuổi:</strong> {{students.age}}
          </li>
          <li class="list-group-item">
            <strong>Địa chỉ:</strong> {{students.address}}
          </li>
          <li class="list-group-item">
            <strong>SDT:</strong> {{students.numberphone}}
          </li>
        </ul>
      </div>
    </div>
  </div>  
</body>
</html>